.home-button{
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(241, 241, 241);
  border: 1px solid gray;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
} .home-button:hover {
  cursor: pointer;
} .home-button:active {
  background-color: rgb(221, 221, 221);
}