table {
  width: 100%;
  border-collapse: collapse;
}

table tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}

table thead th {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: inset 1px 0px 0 #e6e6e6, inset 0 -1px 0 #e6e6e6;
}

th.sticky-detail {
  position: sticky;
  top: -1px;
  right: -2px;
  background-color: #fff; /* Or any other background color */
  z-index: 3; /* Ensures the sticky column is above other table content */
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 1px 0px 0 #e6e6e6, inset 0 -1px 0 #e6e6e6;
}

th.sticky-header {
  position: sticky;
  top: -1px;
  background-color: #fff; /* Or any other background color */
  z-index: 2; /* Ensures the sticky column is above other table content */
}

td.numeric-detail {
  text-align: right;
}

td.sticky-detail {
  position: sticky;
  right: -2px;
  z-index: 2;
  border-left: none !important;
  border-right: none !important;
  box-shadow: inset 1px 0px 0 #e6e6e6, inset -1px 0px 0 #e6e6e6;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #5f5feb;
}

/* Additional styles for table header */
thead th {
  background-color: #fff;
  z-index: 1; /* Ensures header stays above content rows */
}

tfoot tr {
  background-color: #f1f1f1; /* Example background color for footer row */
  position: sticky;
  bottom: -2px;
  z-index: 4;
}

tfoot td {
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
  font-weight: bold; /* Example style for footer cells */
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 1px 0 #e6e6e6, inset 1px 0px 0 #e6e6e6;
}