#products-filters-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
}

#products-filters-expand-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 98%;
  margin-left: 2%;
  margin-top: 10px;
}

#products-filters-expand-and-remove {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
}

#products-filter-inputs-section {
  width: 86%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 30px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-top: 10px;
}

.products-filter-input {
  width: 150px;
}

.products-filter-input::placeholder {
  font-style: italic;
}