#products-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

.home-button{
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(241, 241, 241);
  border: 1px solid gray;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
} .home-button:hover {
  cursor: pointer;
} .home-button:active {
  background-color: rgb(221, 221, 221);
}

#products-report-container {
  display: flex;
  flex-direction: column;
  width: calc(70% - 30px);
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

#product-detail-toggle-button {
  display: flex;
  width: 30px;
  height: 100px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-right-width: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: gray;
}

#product-detail-toggle-button:hover {
  cursor: pointer;
}

#product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  width: 30%;
  background-color: rgb(194, 194, 194);
  border-left: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-left: 10px;
}

#product-detail-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333333;
  font-weight: bold;
}

#product-detail-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: hsl(240, 0%, 93%);
  margin-bottom: 12px;
  box-shadow: rgba(6, 24, 44, 0.15) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 4px;
}

#product-detail-title {
  font-weight: bold;
  font-size: 16px;
  word-wrap: break-word;
}

#product-detail-value {
  word-wrap: break-word;
  /* Handle long keys */
  margin-left: 10px;
  font-size: 15px;
  color: rgb(54, 54, 54);
  min-height: 23px;
}

.products-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  border-radius: 4px;
  font-size: 20px;
}

#products-filters-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
}

#products-filters-expand-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 98%;
  margin-left: 2%;
  margin-top: 10px;
}

#products-filters-expand-and-remove {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
}

#products-filters-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  z-index: 2;
} #products-filters-expand-button:hover {
  cursor: pointer;
} #products-filters-expand-button:active {
  background-color: rgb(221, 221, 221);
}

#products-filters-expand-button-expanded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  border-bottom: none;
  z-index: 2;
  box-shadow: 0px 2px 0 rgb(241, 241, 241);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
} #products-filters-expand-button-expanded:hover {
  cursor: pointer;
} #products-filters-expand-button-expanded:active {
  background-color: rgb(221, 221, 221);
}

.remove-all-filters {
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 2px;
  padding-right: 3px;
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  border: 1px solid gray;
  z-index: 2;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 2px 0 rgb(241, 241, 241);
} .remove-all-filters:active {
  background-color: rgb(221, 221, 221);
}
#products-filters-checkboxes {
  width: 95%;
  margin-top: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(241, 241, 241);
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid gray;
  border-radius: 6px;
  padding-right: 12px;
}

.products-filter-checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  margin-left: 20px;
}

.products-filter-checkbox-title {
  font-size: 14px;
  color: black;
}

#products-filter-inputs-section {
  width: 86%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 30px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-top: 10px;
}

.products-filter-input {
  width: 150px;
}

.products-filter-input::placeholder {
  font-style: italic;
}

#products-table-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98%;
  margin-bottom: 10px;
  
}

#products-filter-search-button {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 32px;
  border: 1px solid gray;
} #products-filter-search-button:hover {
  cursor: pointer;
} #products-filter-search-button:active {
  background-color: rgb(220, 220, 220);
}

#products-refresh-button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 32px;
  border: 1px solid gray;
} #products-refresh-button:hover {
  cursor: pointer;
} #products-refresh-button:active {
  background-color: rgb(220, 220, 220);
}

#products-refresh-button-disabled {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(221, 221, 221);
  box-shadow: inset 0px 0px 10px rgba(150, 150, 150, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 32px;
  cursor: not-allowed;
  border: 1px solid gray;
}

#products-card {
  width: 96%;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  overflow: scroll;
  min-height: 25vh;
  margin-top: 10px;
}

#table-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 24px;
}

#refresh-and-pagination {
  display: flex;
  width: 96%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}