#customersnew-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  border-radius: 4px;
  font-size: 20px;
}

#filters-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#filters-expand-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-top: 15px;
}
#filters-expand-button {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
}

#filters-checkboxes {
  width: 95%;
  height: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  margin-left: 20px;
}

.filter-checkbox-title {
  font-size: 14px;
  color: black;
}

#filter-inputs-section {
  width: 86%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 30px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-left: 2vw;
}

.filter-input {
}

.filter-input::placeholder {
  font-style: italic;
}

#filter-search-button {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

#filter-search-button:hover {
  cursor: pointer;
}

#customernew-refresh-button {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(83, 209, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

#customernew-refresh-button:hover {
  cursor: pointer;
}

#customernew-card {
  width: 96%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: scroll;
  min-height: 50vh;
}

.my-table-style, table {

}
.my-table-style, th, td{
  border: 1px solid rgb(221, 221, 221);
}
.my-table-style, th{
  width: max-content;
}
.my-table-style, td{

}